'+' sign not decoded to space char with rename WebAPI

**Please provide the following information**

### qBittorrent version and Operating System
4.1.5

### If on linux, libtorrent and Qt version
N/A

### What is the problem
LInked to [this discussion](https://stackoverflow.com/questions/55540592/how-to-force-specific-encoding-in-post-headers).

I'm using the Python Requests library to use the API, but I'm completely unable to make the API rename the torrents correctly. I'm passing the header 'Content-type': 'application/x-www-form-urlencoded; charset:utf-8' but the spaces keep being converted to +. Please forgive if this is a Requests issue. I'm just starting out coding.

### What is the expected behavior
Being able to pass strings with spaces (and special characters) with the rename POST method.

### Steps to reproduce
In Python, using Requests, sending the following
`requests.post('http://127.0.0.1:8080/api/v2/torrents/rename', data = {'hash' : 'somehash', 'name': '**renamed to that**'}, headers = { 'content-type' : 'application/x-www-form-urlencoded;charset=UTF-8'})`

makes my torrent be renamed to '**renamed+to+that**', while it should read '**renamed to that'**

![qbittorrent](https://user-images.githubusercontent.com/7853926/55673286-61cab200-58a6-11e9-9afd-6113801298b1.png)

### Extra info(if any)
In the StackOverflow link provided above, @mjpieters suggests using `urllib.parse.encode` with `quote_via`. It works. however, I'd expect the Web API to be able to handle this.
Please have patience as I barely understand what the issue might be.




That's because qBittorrent doesn't correctly decode application/x-www-formdata content; it is treating it as URL-encoded data instead:

https://github.com/qbittorrent/qBittorrent/blob/6f0a66ce26de674c92513f4367a0eaad7fcd7efd/src/base/http/requestparser.cpp#L206-L215

While `application/x-www-formdata` and URL encoding are very closely related, they are not quite the same thing. From [Wikipedia](https://en.wikipedia.org/wiki/Percent-encoding#The_application/x-www-form-urlencoded_type):

> The encoding used by default is based on an early version of the general URI percent-encoding rules, with a number of modifications such as newline normalization and **replacing spaces with `+` instead of `%20`**. The media type of data encoded this way is `application/x-www-form-urlencoded`, and it is currently defined (still in a very outdated manner) in the HTML and XForms specifications.

(bold emphasis mine)

and from the [W3C HTML4 specification for form content types](https://www.w3.org/TR/html4/interact/forms.html#form-content-type):

>  [...]. Forms submitted with this content type must be encoded as follows:
> 
> 1. Control names and values are escaped. Space characters are replaced by <tt>\`+'</tt>, and then reserved characters are escaped as described in [RFC1738], section 2.2: Non-alphanumeric characters are replaced by <tt>\`%HH'</tt>, a percent sign and two hexadecimal digits representing the ASCII code of the character. Line breaks are represented as "CR LF" pairs (i.e., <tt>\`%0D%0A'</tt>).

and finally, the documentation from the (deprecated) [`QUrl::queryItems()` function](https://doc.qt.io/Qt-5/qurl-obsolete.html#queryItems):

> Note: This method does not decode spaces plus (`+`) signs as spaces (ASCII 0x20), like HTML forms do. If you need that kind of decoding, you must use [`QUrl::encodedQueryItems`](https://doc.qt.io/Qt-5/qurl-obsolete.html#encodedQueryItems) and decode the data yourself.

>That's because qBittorrent doesn't correctly decode application/x-www-formdata content; it is treating it as URL-encoded data instead:

Didn't found anything valid with `application/x-www-formdata`, if you meant `multipart/form-data`, qbt does handle it below: https://github.com/qbittorrent/qBittorrent/blob/6f0a66ce26de674c92513f4367a0eaad7fcd7efd/src/base/http/requestparser.cpp#L218

I'm under the impression that @nicoferfio is doing something wrong instead of a bug in qbt.

If I'm wrong please fill in "Steps to reproduce" and issue will be reopened.

@Chocobo1 I edited the issue to reflect "steps to reproduce" and other points. Pleas tell me how to proceed.

> Didn't found anything valid with `application/x-www-formdata`

I showed you what is invalid, though:

> This method does not decode spaces plus (+) signs as spaces (ASCII 0x20), like HTML forms do

So any validly encoded POST body using `application/x-www-formdata` and **spaces in a value encoded to `+`** will not be decoded correctly.

So the request

```
Content-Type: application/x-www-formdata
Content-Length: 51

hash=deadbeef&name=new+name+for+torrent+with+spaces
```

is parsed as `hash: "deadbeef"` and `name: "new+name+for+torrent+with+spaces"`, where the expected result would be `name: "new name for torrent with spaces"`.

I think PR #10458 will fix it.

Looks like that should do it, yes.

I’m surprised there are no tests, however. 

Just for curiosity, could this issue be causing problems with `/api/v2/torrents/setLocation` ? I keep getting 400 responses when using that endpoint

>Just for curiosity, could this issue be causing problems with /api/v2/torrents/setLocation ? 

All I can say is they go the same code path, so probably.